In [3]:
import pandas as pd
import seaborn as sns
from sklearn.decomposition import PCA

In [4]:
df = sns.load_dataset('planets')
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [5]:
df.isna().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [8]:
df.drop('method', axis=1, inplace=True)

<h3>PCA</h3>

<h4> Reduce features from 5 to 3

In [11]:
pca=PCA(n_components=3)
new_df = pca.fit_transform(df)
new_df = pd.DataFrame(new_df, columns=['PC1', 'PC2', 'PC3'])
new_df.head()

          PC1        PC2       PC3
0 -566.504590  24.780669  3.449467
1   38.989887   4.932340 -0.616922
2  -72.741937 -32.223337 -3.343070
3 -509.805791  58.337215  8.138673
4 -319.629461  67.231795  2.486263

<h3> Check Eigent vectors of PCA

In [12]:
pca.components_

array([[-4.75569031e-05,  9.99999255e-01,  4.57643358e-04,
        -1.11337300e-03,  1.99069706e-04],
       [-7.35009201e-03,  1.09897469e-03,  2.20090392e-02,
         9.99575157e-01,  1.76033081e-02],
       [-6.19319719e-02, -1.90509624e-05,  4.38895746e-01,
         5.66685873e-03, -8.96383200e-01]])

<h3> Check variance of PCA

In [14]:
pca.explained_variance_ratio_

array([9.98981761e-01, 1.00454044e-03, 8.42345589e-06])