In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,date,id,text,username,like_count,displayname,lang,sentimen,year
0,2021-12-31 23:33:04+00:00,1477060265057214466,"Indonesia punya stok \nVaksin covid 19, 3 bula...",ahimcakep,1,ahimcakep ð®ð©,in,netral,2021
1,2021-12-31 23:28:02+00:00,1477059000378163202,Vaksinasi Covid-19 Dosis Keempat Sudah Boleh d...,haluanharian,0,Harian Haluan,in,netral,2021
2,2021-12-31 23:03:37+00:00,1477052854753906688,Dari awal covid 2020-2021-2022. Sukur kagak ke...,Tebobotee1,0,Tebobotee,in,netral,2021
3,2021-12-31 22:57:02+00:00,1477051199438286853,"2021 :\nVaksin covidâï¸\nKB3 bubar, pindah ...",nursetiandi,0,Nur Setiandi,in,netral,2021
4,2021-12-31 22:45:49+00:00,1477048376294207488,"Satu kalimat utk tahun 2021: ""Alhamdulilah mas...",FauziAdri,2,Fauzi Adrianto,in,positif,2021

array(['netral', 'positif', 'negatif'], dtype=object)